<p>rooms-list works!</p>

<div> List of Rooms {{title_}}</div>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Even or Odd</th>
      <th>Room Type</th>
      <th>Amentites</th>
      <th>Price</th>
      <th>Check-in Time</th>
      <th>Check-out Time</th>
      <th>Rating</th>
      <th>Select Room</th>
      <th>Book Room</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of roomsList | slice: 0: 10; let e = even; let o = odd; let i = index" [ngClass]="{'even': e, 'odd': o}">
      <td>{{i}}</td>
      <td>{{e ? 'Even' : 'Odd'}}</td>
      <td>{{room.roomType | lowercase}}</td>
      <td>{{room.amentites | uppercase}}</td>
      <td>{{room.price | currency: 'USD'}}</td>
      <td>{{room.checkinTime | date: 'shortDate'}}</td>
      <td>{{room.checkoutTime | date: 'shortDate'}}</td>
      <td>{{room.rating | number: '1.1-2': 'en-us'}}</td>
      <td><button class="btn btn-primary" (click)="selectRoom(room)">Select</button></td>
      <td><button class="btn btn-primary" [routerLink] = "['/rooms',room.roomNumber]">Book Room Now</button></td>
    </tr>
  </tbody>
</table>
