<p>hotelrooms works!</p>
<p>My hotel name is {{hotelname}}</p>
<div [innerHTML]="mytxt"></div>
<button (click)="toggle()">
    Click to toggle display
</button>
<div [hidden]="displayButton"> Click Button to Display</div>
<div>Number of Rooms Available are {{rooms.availableRooms}}</div>
<div>
    Booked rooms 
    {{rooms.bookedRooms ?? "No Booked rooms available!!!"}}
</div>
<div *ngIf="rooms?.availableRooms == 2">
    Test Element 
</div>
<div *ngIf="rooms.totalRooms > 0">Total Number of Rooms {{rooms.totalRooms}}
    Rooms List {{roomsList}}
</div>
    
<div>
    List of Rooms
</div>
<hiv-rooms-list [roomsList]="roomsList" (selectedRoom)="selectRoom($event)"></hiv-rooms-list>

   <!-- <table>
        <tr>
            <th>Index</th>
            <th>Even or Odd</th>
            <th>Room Type</th>
            <th>Amentites</th>
            <th>Price</th>
            <th>checkin Time</th>
            <th>checkout Time</th>
            <th>Rating</th>
        </tr>
        <tr *ngFor="let room of roomsList | slice : 0:10 ; let e = even; let o = odd; let i = index" [ngClass]="{'even': e, 'odd': o}">
            <td>{{i | percent}}</td>
            <td>{{e? "Even" : "Odd"}}</td>
            <td>{{room.roomType | uppercase}}</td>
            <td>{{room.amentites | lowercase}}</td>
            <td>{{ room.price | currency:'USD' }}</td>
            <td>{{room.checkinTime  | date: 'shortDate'}}</td>
            <td>{{room.checkoutTime  | date: 'shortDate'}}</td>
            <td>{{room.rating | number:'1.1-2' : 'en-us'}}</td>
        </tr>
   </table> -->
   <div  [ngStyle]="{'color': rooms.availableRooms > 5 ? 'green' : 'red'}">
    My Table Data
    <!-- {{roomsList}}
    {{roomsList | json}} -->
   </div>
