<!-- <hiv-header></hiv-header> -->
<div>This is the dynamic template text
    <ng-template #user></ng-template>
</div>
<p>My hotel name is {{hotelname}}</p><div [innerHTML]="mytxt"></div>
<button (click)="toggle()">
    Click to toggle display
</button>
<div [hidden]="displayButton"> Click Button to Display</div>
<div>Number of Rooms Available are {{rooms.availableRooms}}</div>
<div>
    Booked rooms 
    {{rooms.bookedRooms ?? "No Booked rooms available!!!"}}
</div>
<div *ngIf="rooms?.availableRooms == 2">
    Test Element 
</div>

<div>
    <button (click) = "AddRoom()"> Add Room</button>
</div>

<!-- From child Component -->
<div *ngIf="selectedRoom_">
    Selected Room is {{selectedRoom_ |json}}
 </div> 
    
<div>
    List of Rooms
</div>

 <!-- From Parent Component  -->
<hiv-rooms-list [roomsList]="roomsList" [title_]=title_
    (selectedRoom)="selectRoom($event)">

<div *ngIf="selectedRoom_">
    Selected Room is {{selectedRoom_ | json}}
</div>
  </hiv-rooms-list>

<div  [ngStyle]="{'color': rooms.availableRooms > 5 ? 'green' : 'red'}">
    My Table Data
    <!-- {{roomsList}}
    {{roomsList | json}} -->
</div>

<div #name></div>

<hiv-container>
    <h1>This is a container</h1>
</hiv-container>