<p>hotelrooms works!</p>
<p>My hotel name is {{hotelname}}</p>
<div [innerHTML]="mytxt"></div>
<button (click)="toggle()">
    Click to toggle display
</button>
<div [hidden]="displayButton"> Click Button to Display</div>
<div>Number of Rooms Available are {{rooms.availableRooms}}</div>
<div>
    Booked rooms 
    {{rooms.bookedRooms ?? "No Booked rooms available!!!"}}
</div>
<div *ngIf="rooms?.availableRooms == 2">
    Test Element 
</div>
<div *ngIf="rooms.totalRooms > 0">Total Number of Rooms {{rooms.totalRooms}}
    Rooms List {{roomsList}}
</div>
    
<div>
    List of Rooms
</div>
<hiv-rooms-list [roomsList]="roomsList"
    (selectedRoom)="selectRoom($event)">
</hiv-rooms-list>
   <div  [ngStyle]="{'color': rooms.availableRooms > 5 ? 'green' : 'red'}">
    My Table Data
    <!-- {{roomsList}}
    {{roomsList | json}} -->
   </div>
