<p>login works!</p>
<form #loginForm="ngForm">
    <div class="form-group">
        <input hivHover class="form-control" type="email" name="name" [(ngModel)]="email" placeholder="email"/>
    </div> 
    <div class="form-group">
        <input hivHover class="form-control" type="password" name="password" [(ngModel)]="password" placeholder="password"/>
    </div> 

    <div class="form-group">
        <button  class="btn btn-primary" type="submit" (click)="Login()">Submit</button>
      </div>
</form>
