<!-- <router-outlet></router-outlet>
<a class="nav-link" [routerLink]="'rooms'">Rooms</a>
<a class="nav-link" [routerLink]="'employee'">Employee</a>
<a class="nav-link" [routerLink]="'container'">Container</a>
<a class="nav-link" [routerLink]="'roomsList'">RoomsList</a>
<a class="nav-link" [routerLink]="'header'">Header</a> -->
<hiv-app-nav></hiv-app-nav>

<!-- <h1>Ameya Santosh Gidh</h1>

<div [ngSwitch] = "role">
    <div *ngSwitchCase="'User'">Welcome User!</div>
    <div *ngSwitchCase="'Admin'">
        <hiv-hotelrooms></hiv-hotelrooms>
    </div>
    <div *ngSwitchDefault>
        Not authorized to view this page.
    </div> 
</div> --> 